

body {
    background: url(fundo.jpg);
    background-position: center center;
    background-size: cover cover;
    padding: 0;
    margin: 0;
}

img {
    
    z-index: 1;
}

.casa {
    background: rgba(0, 0, 0, 0.442);
    width: 400px;
    margin: 20px;
    border-radius: 30px;
   
    margin-top: -500px;
}

.property {
    margin: 20px;
}

div {
    font-size: 100;
}

.value {
    font-size: 20px;
}


.centro {
    display: flex;
    justify-content: center;
    align-items: center;
   
}


